html, body {background: #fff;}

.mainDetails {
	background: #ddf;
}

h2 {
	font-size: 150%;
	margin-left: 2px;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}


.refList {
	padding: 5px 40px;
    text-indent:-1.5em;
	font-size: 85%;
}
